/*
    Header      1.0
    Content box 2.0
      ->Post    2.1 
    SideBar     3.0
    Footer      4.0
    
    
    */
/*Header 1.0*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.07.2015, 21:44:10
    Author     : Jan Ackermann
*/
.einsatzTabelle table {
  width: 100%; }
  .einsatzTabelle table tr {
    height: 50px; }
    .einsatzTabelle table tr td:nth-child(3) {
      text-align: right; }
    .einsatzTabelle table tr td {
      font-family: Arial;
      text-transform: uppercase;
      font-size: 21px;
      font-weight: bold;
      color: #FFF; }
.einsatzTabelle .smallRoundBox {
  height: 30px;
  width: 30px;
  border-radius: 80px;
  box-shadow: 0px 0px 0px 6px rgba(110, 187, 236, 0.4);
  overflow: hidden;
  float: left;
  margin-left: 25px; }
  .einsatzTabelle .smallRoundBox img {
    border: solid 0px !important;
    width: 40px;
    margin-left: 6px;
    margin-top: 4px; }
.einsatzTabelle .yearNav {
  position: absolute;
  left: 150px;
  top: 45px; }
  .einsatzTabelle .yearNav-item {
    float: left;
    cursor: pointer; }
    .einsatzTabelle .yearNav-item .topball {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      position: relative;
      z-index: 1;
      background-color: #1C96E3; }
    .einsatzTabelle .yearNav-item .connector {
      width: 5px;
      height: 20px;
      transform: rotate(-36deg);
      margin-top: -5px;
      z-index: 0;
      background-color: #1C96E3;
      margin-left: 9.5px; }
    .einsatzTabelle .yearNav-item .bottomball {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      position: relative;
      margin-left: 13px;
      z-index: 1;
      margin-top: -7px;
      background-color: #1C96E3; }
    .einsatzTabelle .yearNav-item .year {
      font-family: arial;
      color: #FFF;
      font-weight: bold;
      margin-left: 30px;
      margin-top: -14px; }

#footer {
  float: left;
  border-top: solid 5px #1c96e3;
  width: 100%;
  height: 300px;
  background-image: url(imgs/bg.png); }
  #footer #FooterContent {
    padding-left: 427px; }
    #footer #FooterContent #row1 {
      float: left;
      width: 350px;
      height: 100%;
      margin-left: -210px; }
      #footer #FooterContent #row1 a {
        margin-top: -20px;
        color: gray;
        font-family: Arial;
        font-style: none;
        text-decoration: none; }
      #footer #FooterContent #row1 a:hover {
        color: lightgray; }
    #footer #FooterContent #row2 {
      float: left;
      width: 350px;
      height: 100%; }
      #footer #FooterContent #row2 p#con {
        margin-top: -2px;
        color: gray;
        font-family: Arial;
        font-style: none;
        text-decoration: none; }
      #footer #FooterContent #row2 a {
        text-decoration: none;
        color: #1c96e3; }
    #footer #FooterContent #row3 {
      float: left;
      width: 350px;
      height: 100%; }
      #footer #FooterContent #row3 p#con {
        margin-top: -2px;
        color: gray;
        font-family: Arial;
        font-style: none;
        text-decoration: none; }
      #footer #FooterContent #row3 a {
        text-decoration: none;
        color: #1c96e3; }

#smalltitel {
  color: gray;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold; }

#bigtitel {
  margin-bottom: 0px;
  margin-top: -27px;
  margin-left: -3px;
  color: #1c96e3;
  font-family: Arial;
  font-size: 50px;
  font-weight: bold; }

header {
  position: relative;
  z-index: 1; }

.mainNav {
  width: 1050px;
  position: relative; }
  .mainNav-header {
    width: 100%;
    height: 55px;
    position: relative;
    background-color: #1C96E3;
    box-shadow: 0px 0px 3px 1px #C3C3C3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .mainNav-header--item {
      display: inline-block;
      padding: 0px;
      margin: 0px;
      vertical-align: middle;
      display: table; }
      .mainNav-header--item li {
        width: calc(995px / 4);
        list-style: outside none none;
        text-align: center;
        display: table-cell;
        vertical-align: middle; }
        .mainNav-header--item li:first-child {
          width: 55px;
          height: 55px;
          background: url(../imgs/HOME.png) no-repeat scroll center; }
        .mainNav-header--item li a {
          font-size: 25px;
          text-decoration: none;
          color: white;
          font-weight: bold;
          font-family: Arial;
          cursor: pointer; }
  .mainNav-tab {
    width: 100%;
    background: #1c96e3;
    height: 300px;
    position: absolute;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3); }
    .mainNav-tab--divider {
      height: 50px;
      border-top: solid 1px #ccc;
      position: relative;
      bottom: -250px;
      text-align: center;
      padding-top: 5px; }
    .mainNav-tab--content {
      position: absolute; }
      .mainNav-tab--content ul li:first-child {
        display: none; }
    .mainNav-tab:before {
      content: '';
      position: absolute;
      border-top: solid 1px #ccc;
      width: calc(100% - 40px);
      margin-left: 20px;
      margin-right: 20px; }

/*#menu {
    width:1050px;
    height:56px;   
    text-decoration:none;
}
#home{
    width:56px;
    height:56px;
    background-color:$MainBlue;
    float:left;
    text-align:center;
    &:hover{
        background-color:#26a9fd;
    }
    img{

        position:relative;
        top:25%; 
    }
}
#EN{
    width:192px;
    float:left;
    height:56px;
    background-color:#1da3f8;
    text-align:center;
    font-family:Arial;
    font-weight:Bold;
    color:white;
    font-size:23px;
    a{
        position:relative;
        top:25%; 
        text-decoration:none;
        color:white;
    }
}

#VE, #KI, #TE{
    width:267.3px;
    float:left;
    height:56px;
    background-color:#1da3f8;
    text-align:center;
    font-family:Arial;
    font-weight:Bold;
    color:white;
    font-size:23px;
    a{
        position:relative;
        top:25%; 
        text-decoration:none;
        color:white;
    }
}


#m1 ,#m2 ,#m3 ,#m4{
    width:268px;
    height:0;
    position:relative;
    z-index: 99999;
    display:none;
    background-color: rgb(29, 163, 248);
    height: auto;
    left: 0px;
    top: 28px;
    border-top: 4px solid #1c96E3;
    min-height:150px;
    &:after{
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0px 10px 10px 10px;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $MainBlue rgba(0, 0, 0, 0);
        align:center;
        top: -12px;
        left:130px;
    }
    h4{
      list-style-type:none;  
      text-align:left;
      margin-left:10px;
      padding: 3px;
      padding-top:8px;
      font-size:18px;
    }
}
#m4{
    left:-1px;
}
    
h2{
    font-family: Arial;
    color: #E8E8E8;
    font-size: 32px;
    font-weight: bold;
    margin: 0px;
}
h3{
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    margin: 0px;
}
h4{
    font-size: 21px;
    font-weight: bold;
    color: #FFF;
    margin: 0px;
}
h5{
    font-size: 20px;
    font-weight: normal;
    color: #FFF;
    margin: 0px;
}
h6{

}
.blue{
    color:$MainBlue;
}
#TopBarTitel{
    h2{
        padding-top: 5px;
        padding-left: 14px;
    }
}
body{
    font-family: Arial;
}

a:link{
    text-decoration:none;
    font-weight:normal;
}
a:visited{
    text-decoration:none;
    font-weight:normal;
}
a:active{
    text-decoration:none;
    font-weight:normal;
}
a:focus{
    text-decoration:none;
    font-weight:normal;
    color:$MainBlue;
}
*/
@font-face {
  font-family: 'weather';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg") format("svg");
  font-weight: normal;
  font-style: normal; }
.sideBar {
  margin-bottom: 20px;
  position: relative;
  top: -14px; }
  .sideBar-titel {
    height: 50px;
    width: 100%;
    background-color: #1c96e3;
    text-align: center;
    font-family: Arial;
    color: #e8e8e8;
    font-size: 25px;
    font-weight: bold; }
    .sideBar-titel h3 {
      margin-top: 5px; }
  .sideBar-content {
    background-image: url(imgs/bg.png);
    margin-top: -16px;
    background-color: #373737;
    min-height: 100px;
    width: 100%;
    font-family: Arial;
    color: #E8E8E8;
    font-size: 13px; }
    .sideBar-content p {
      padding-top: 15px;
      margin-left: 15px;
      margin-top: 0px; }
    .sideBar-content a:link {
      text-decoration: none;
      font-weight: bold;
      color: #E8E8E8; }
    .sideBar-content a:visited {
      text-decoration: none;
      font-weight: bold;
      color: #E8E8E8; }
    .sideBar-content a:active {
      text-decoration: none;
      font-weight: bold;
      color: #E8E8E8; }
    .sideBar-content a:focus {
      text-decoration: none;
      font-weight: bold;
      color: #E8E8E8; }
    .sideBar-content--imgBanner {
      padding-top: 0px;
      margin-left: 0px;
      margin-bottom: -3px;
      width: 280px; }
    .sideBar-content #weather {
      width: 270px;
      margin: 0px auto;
      text-align: center;
      text-transform: uppercase;
      padding-top: 10px;
      font-size: 18px;
      text-align: left; }
      .sideBar-content #weather img {
        float: left; }
    .sideBar-content i {
      color: #fff;
      font-family: weather;
      font-size: 210px;
      font-weight: normal;
      font-style: normal;
      line-height: 0.76; }
    .sideBar-content .icon-0:before {
      content: ":"; }
    .sideBar-content .icon-1:before {
      content: "p"; }
    .sideBar-content .icon-2:before {
      content: "S"; }
    .sideBar-content .icon-3:before {
      content: "Q"; }
    .sideBar-content .icon-4:before {
      content: "S"; }
    .sideBar-content .icon-5:before {
      content: "W"; }
    .sideBar-content .icon-6:before {
      content: "W"; }
    .sideBar-content .icon-7:before {
      content: "W"; }
    .sideBar-content .icon-8:before {
      content: "W"; }
    .sideBar-content .icon-9:before {
      content: "I"; }
    .sideBar-content .icon-10:before {
      content: "W"; }
    .sideBar-content .icon-11:before {
      content: "I"; }
    .sideBar-content .icon-12:before {
      content: "I"; }
    .sideBar-content .icon-13:before {
      content: "I"; }
    .sideBar-content .icon-14:before {
      content: "I"; }
    .sideBar-content .icon-15:before {
      content: "W"; }
    .sideBar-content .icon-16:before {
      content: "I"; }
    .sideBar-content .icon-17:before {
      content: "W"; }
    .sideBar-content .icon-18:before {
      content: "U"; }
    .sideBar-content .icon-19:before {
      content: "Z"; }
    .sideBar-content .icon-20:before {
      content: "Z"; }
    .sideBar-content .icon-21:before {
      content: "Z"; }
    .sideBar-content .icon-22:before {
      content: "Z"; }
    .sideBar-content .icon-23:before {
      content: "Z"; }
    .sideBar-content .icon-24:before {
      content: "E"; }
    .sideBar-content .icon-25:before {
      content: "E"; }
    .sideBar-content .icon-26:before {
      content: "3"; }
    .sideBar-content .icon-27:before {
      content: "a"; }
    .sideBar-content .icon-28:before {
      content: "A"; }
    .sideBar-content .icon-29:before {
      content: "a"; }
    .sideBar-content .icon-30:before {
      content: "A"; }
    .sideBar-content .icon-31:before {
      content: "6"; }
    .sideBar-content .icon-32:before {
      content: "1"; }
    .sideBar-content .icon-33:before {
      content: "6"; }
    .sideBar-content .icon-34:before {
      content: "1"; }
    .sideBar-content .icon-35:before {
      content: "W"; }
    .sideBar-content .icon-36:before {
      content: "1"; }
    .sideBar-content .icon-37:before {
      content: "S"; }
    .sideBar-content .icon-38:before {
      content: "S"; }
    .sideBar-content .icon-39:before {
      content: "S"; }
    .sideBar-content .icon-40:before {
      content: "M"; }
    .sideBar-content .icon-41:before {
      content: "W"; }
    .sideBar-content .icon-42:before {
      content: "I"; }
    .sideBar-content .icon-43:before {
      content: "W"; }
    .sideBar-content .icon-44:before {
      content: "a"; }
    .sideBar-content .icon-45:before {
      content: "S"; }
    .sideBar-content .icon-46:before {
      content: "U"; }
    .sideBar-content .icon-47:before {
      content: "S"; }
    .sideBar-content .leftWrapper {
      float: left; }
    .sideBar-content .img {
      width: 135px;
      height: 128px;
      float: right;
      position: relative;
      left: -30px; }
    .sideBar-content .wind, .sideBar-content .temp, .sideBar-content .sun {
      width: 112px;
      height: 36px;
      margin-bottom: 10px; }
    .sideBar-content .temp p, .sideBar-content .sun p {
      padding-top: 10px;
      margin-left: 50px; }
    .sideBar-content .wind p {
      padding: 0px;
      margin: 0px;
      padding-left: 50px; }

.SingleHead {
  position: relative;
  background-color: #1c96e3;
  height: 50px;
  width: 750px; }
  .SingleHead:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid #1c96e3;
    left: 40px;
    top: 50px;
    z-index: 999; }
  .SingleHead #TopBarTitel {
    margin-top: -25px;
    height: 50px;
    width: 100%;
    background-color: #1c96e3; }
    .SingleHead #TopBarTitel div {
      margin-left: 5px;
      padding-top: 10px; }

.SingleContent {
  background-image: url(imgs/bg.png);
  background-color: #373737;
  width: 750px;
  height: auto;
  margin-top: -16px;
  color: #c1c1c1; }
  .SingleContent a:link {
    text-decoration: none;
    font-weight: bold;
    color: #1c96e3; }
  .SingleContent a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #1c96e3; }
  .SingleContent a:active {
    text-decoration: none;
    font-weight: bold;
    color: #1c96e3; }
  .SingleContent a:focus {
    text-decoration: none;
    font-weight: bold;
    color: #1c96e3; }
  .SingleContent #main {
    padding-top: 22px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    position: relative; }
    .SingleContent #main img {
      border: solid 5px #1c96e3; }
    .SingleContent #main .postcont {
      font-family: Arial; }

.TopBar {
  position: relative;
  background-color: #1c96e3;
  height: 50px;
  width: 750px; }
  .TopBar .dreieck {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid #1c96e3;
    left: 40px;
    margin-top: 50px; }

.sitecontent {
  background-color: #373737;
  width: 750px;
  min-height: 400px;
  overflow: hidden; }

.singlePost {
  position: relative;
  top: -11px; }
  .singlePost-titelBar {
    background-color: #1c96e3;
    height: 50px;
    width: 750px; }
    .singlePost-titelBar h1 {
      color: white;
      margin: 0;
      position: relative;
      top: 6px;
      left: 30px; }
    .singlePost-titelBar:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 16px solid #1c96e3;
      left: 40px;
      top: 50px; }
  .singlePost-content {
    min-height: 300px;
    width: 750px;
    background-color: #373737; }
    .singlePost-content p {
      margin: 0;
      color: white;
      padding-left: 45px;
      padding-right: 10px;
      padding-bottom: 5px; }
    .singlePost-content h1, .singlePost-content h2, .singlePost-content h3, .singlePost-content h4, .singlePost-content h5, .singlePost-content h6 {
      color: white;
      padding-left: 45px; }
    .singlePost-content a {
      color: white; }
    .singlePost-content--topPadding {
      padding-top: 20px; }
    .singlePost-content--bottomPadding {
      padding-bottom: 10px; }

.einsatz .Arial {
  font-family: Arial;
  padding: 5px;
  margin-top: -20px; }
.einsatz .wrapper {
  height: auto;
  width: 100%; }
.einsatz .einsatzInfo {
  color: white; }
.einsatz .einsatzInfo, .einsatz .einsatzFahrzeuge, .einsatz .einsatzBericht {
  width: 750px;
  height: auto;
  background-color: #17689B;
  overflow: hidden;
  position: relative; }
  .einsatz .einsatzInfo .roundBox, .einsatz .einsatzFahrzeuge .roundBox, .einsatz .einsatzBericht .roundBox {
    height: 80px;
    width: 80px;
    border-radius: 80px;
    box-shadow: 0px 0px 0px 6px rgba(110, 187, 236, 0.4);
    position: relative;
    top: 37px;
    left: 73px;
    overflow: hidden; }
    .einsatz .einsatzInfo .roundBox img, .einsatz .einsatzFahrzeuge .roundBox img, .einsatz .einsatzBericht .roundBox img {
      height: 120px;
      margin-left: -15px;
      margin-top: -10px; }
  .einsatz .einsatzInfo .smallRoundBox, .einsatz .einsatzFahrzeuge .smallRoundBox, .einsatz .einsatzBericht .smallRoundBox {
    height: 50px;
    width: 50px;
    border-radius: 80px;
    box-shadow: 0px 0px 0px 6px rgba(110, 187, 236, 0.4);
    position: relative;
    top: -13px;
    left: 193px;
    overflow: hidden;
    float: left;
    margin-right: 20px; }
  .einsatz .einsatzInfo .entry, .einsatz .einsatzFahrzeuge .entry, .einsatz .einsatzBericht .entry {
    margin-left: 190px;
    font-family: Arial;
    padding-bottom: 15px; }
    .einsatz .einsatzInfo .entry .headLine, .einsatz .einsatzFahrzeuge .entry .headLine, .einsatz .einsatzBericht .entry .headLine {
      text-transform: uppercase;
      font-size: 21px;
      font-weight: bold;
      color: #FFF; }
    .einsatz .einsatzInfo .entry .subLine, .einsatz .einsatzFahrzeuge .entry .subLine, .einsatz .einsatzBericht .entry .subLine {
      margin-left: 15px; }
.einsatz .einsatzFahrzeuge {
  background-color: #fff;
  color: #666161; }
  .einsatz .einsatzFahrzeuge:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid #17689B;
    left: 40px;
    top: 0px;
    z-index: 999; }
  .einsatz .einsatzFahrzeuge .entry {
    font-family: Arial;
    padding-bottom: 15px;
    top: 0px; }
    .einsatz .einsatzFahrzeuge .entry .headLine {
      text-transform: uppercase;
      font-size: 21px;
      font-weight: bold;
      color: #17689B; }
    .einsatz .einsatzFahrzeuge .entry div.subLine {
      margin-left: 15px; }
.einsatz .einsatzBericht {
  background-color: #1C96E3; }
  .einsatz .einsatzBericht .report {
    margin-left: 170px;
    margin-top: -20px;
    padding: 20px;
    color: white; }
  .einsatz .einsatzBericht:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid #fff;
    left: 40px;
    top: 0px;
    z-index: 999; }
.einsatz .einsatzBilder {
  width: 750px; }
  .einsatz .einsatzBilder img {
    margin-bottom: -6px;
    border: solid 0px !important; }
  .einsatz .einsatzBilder #slides {
    text-align: center;
    height: 424px;
    width: 750px;
    margin-bottom: -3px; }
    .einsatz .einsatzBilder #slides .slidesjs-navigation {
      position: relative;
      top: -340px;
      z-index: 999; }
    .einsatz .einsatzBilder #slides .slidesjs-previous {
      background: url(../imgs/previous.png) repeat scroll 0% 0% transparent;
      display: block;
      width: 94px;
      height: 128px;
      position: relative;
      margin-top: 50px; }
    .einsatz .einsatzBilder #slides .slidesjs-next {
      background: url(../imgs/previous.png) repeat scroll 0% 0% transparent;
      display: block;
      float: right;
      width: 94px;
      height: 128px;
      position: relative;
      margin-top: -130px;
      transform: rotate(180deg); }
    .einsatz .einsatzBilder #slides .slidesjs-pagination {
      padding: 0px;
      margin: 0px;
      list-style: none;
      padding: 0px;
      margin: 0px auto;
      width: auto;
      display: inline-block;
      position: relative;
      top: -230px;
      margin-bottom: -20px; }
      .einsatz .einsatzBilder #slides .slidesjs-pagination .slidesjs-pagination-item {
        float: left;
        padding: 5px; }
        .einsatz .einsatzBilder #slides .slidesjs-pagination .slidesjs-pagination-item a {
          height: 20px;
          position: relative;
          content: "a";
          z-index: 2147483647;
          background-color: #1c96e3;
          width: 20px;
          display: block;
          border-radius: 50px;
          box-shadow: 0 0 4px 1px #837A7A; }
        .einsatz .einsatzBilder #slides .slidesjs-pagination .slidesjs-pagination-item .active {
          display: block;
          background-color: #43B0F5; }

.technik .roundBox {
  height: 80px;
  width: 80px;
  border-radius: 80px;
  box-shadow: 0px 0px 0px 6px rgba(110, 187, 236, 0.4);
  position: relative;
  top: 37px;
  left: 73px;
  overflow: hidden; }
  .technik .roundBox img {
    height: 120px;
    margin-left: -15px;
    margin-top: -10px; }
.technik .smallRoundBox {
  height: 50px;
  width: 50px;
  border-radius: 80px;
  box-shadow: 0px 0px 0px 6px rgba(110, 187, 236, 0.4);
  position: relative;
  top: 17px;
  left: 77px;
  overflow: hidden;
  margin-right: 20px; }
.technik .entry {
  margin-left: 190px;
  font-family: Arial;
  padding-bottom: 15px; }
  .technik .entry .headLine {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    color: #FFF; }
  .technik .entry .subLine {
    margin-left: 15px; }
.technik .entrysmall {
  margin-left: 190px;
  font-family: Arial;
  padding-bottom: 15px; }
  .technik .entrysmall .headLine {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #FFF; }
  .technik .entrysmall .subLine {
    margin-left: 15px; }
.technik .first {
  float: left;
  width: 320px; }
  .technik .first .static {
    clear: both !important; }
    .technik .first .static .entrysmall .headLine {
      margin-left: -30px; }
  .technik .first .entrysmall .headLine {
    margin-left: -30px; }
.technik .second .entry {
  margin-left: 510px; }
.technik .second .entrysmall .headLine {
  margin-left: 160px; }
.technik #main h2 {
  font-family: Arial;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
  margin-left: 70px; }
.technik .static {
  clear: both !important; }
  .technik .static .entrysmall .headLine {
    margin-left: -30px; }

.einsatzTabelle table {
  width: 100%; }
  .einsatzTabelle table tr {
    height: 50px; }
    .einsatzTabelle table tr td:nth-child(3) {
      text-align: right; }
    .einsatzTabelle table tr td {
      font-family: Arial;
      text-transform: uppercase;
      font-size: 21px;
      font-weight: bold;
      color: #FFF; }
.einsatzTabelle .smallRoundBox {
  height: 30px;
  width: 30px;
  border-radius: 80px;
  box-shadow: 0px 0px 0px 6px rgba(110, 187, 236, 0.4);
  overflow: hidden;
  float: left;
  margin-left: 25px; }
  .einsatzTabelle .smallRoundBox img {
    border: solid 0px !important;
    width: 40px;
    margin-left: 6px;
    margin-top: 4px; }
.einsatzTabelle .yearNav {
  position: absolute;
  left: 150px;
  top: 45px; }
  .einsatzTabelle .yearNav-item {
    float: left;
    cursor: pointer; }
    .einsatzTabelle .yearNav-item .topball {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      position: relative;
      z-index: 1;
      background-color: #1C96E3; }
    .einsatzTabelle .yearNav-item .connector {
      width: 5px;
      height: 20px;
      transform: rotate(-36deg);
      margin-top: -5px;
      z-index: 0;
      background-color: #1C96E3;
      margin-left: 9.5px; }
    .einsatzTabelle .yearNav-item .bottomball {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      position: relative;
      margin-left: 13px;
      z-index: 1;
      margin-top: -7px;
      background-color: #1C96E3; }
    .einsatzTabelle .yearNav-item .year {
      font-family: arial;
      color: #FFF;
      font-weight: bold;
      margin-left: 30px;
      margin-top: -14px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.07.2015, 20:21:04
    Author     : Jan Ackermann
*/
.btn {
  height: 40px;
  min-width: 50px;
  width: auto;
  display: inline-block;
  background-color: #17689B;
  font-family: Arial;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer; }
  .btn a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px; }
  .btn:hover {
    background-color: #1E5C84; }

.linkList-arrowRight {
  list-style-image: url("../imgs/icon-arrow-right.png"); }
.linkList li a {
  color: white;
  text-decoration: none;
  font-family: Arial; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.07.2015, 11:25:39
    Author     : Jan Ackermann
*/
.postBox {
  height: 400px;
  width: 750px;
  margin-bottom: 20px;
  background-color: #373737;
  color: white;
  position: relative; }
  .postBox-img {
    float: left;
    width: 500px;
    height: 400px; }
    .postBox-img img {
      width: 500px;
      height: 400px; }
    .postBox-img:after {
      content: '';
      height: 100%;
      width: 10px;
      background-color: #1c96e3;
      position: absolute;
      top: 0;
      left: 500px; }
  .postBox-content {
    width: 210px;
    height: 85%;
    padding-left: 30px;
    padding-right: 10px;
    overflow: hidden; }
    .postBox-content div {
      position: absolute;
      bottom: 10px;
      right: 10px; }
    .postBox-content h2 {
      color: #C1C1C1; }
    .postBox-content p {
      color: #E8E8E8; }
    .postBox-content:before {
      content: "";
      position: absolute;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 7.5px 0px 7.5px 10px;
      border-color: transparent transparent transparent #1C97E3;
      left: 510px;
      top: 30px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.07.2015, 11:51:39
    Author     : Jan Ackermann
*/
.mainFlex {
  width: 1090px;
  height: 500px;
  display: table;
  border-spacing: 20px;
  margin-left: -20px;
  margin-top: -20px; }
  .mainFlex-left {
    display: table-cell; }
  .mainFlex-right {
    display: table-cell;
    width: 750px; }
  .mainFlex--smallMargin {
    margin-top: -11px; }

header {
  width: 1050px;
  margin: 0 auto; }

body {
  text-align: left;
  font-family: Arial;
  margin: 0px; }

.clear:after {
  content: "";
  clear: both;
  display: table; }

.wrapper {
  width: 1050px;
  margin: 0 auto;
  text-align: left; }

/*Content box 2.0*/
#maincontent {
  width: 1050px;
  height: auto;
  min-height: 100%; }

.mainpostcontent {
  float: right; }

/* Post 2.1 */
#PostBox {
  height: auto;
  min-height: 400px;
  padding-bottom: 20px; }

#PostImg {
  float: left; }

#PostImg img {
  background-color: red;
  height: 362.5px;
  float: left; }

.index {
  margin-top: 25px; }
  .index .mainpostcontent {
    margin-top: -25px; }
  .index #PostBox {
    padding-bottom: 0px; }

.PostMiddle {
  position: relative;
  background-color: #1c96e3;
  height: 362.5px;
  width: 15px;
  float: left; }
  .PostMiddle:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #1c97e3;
    left: 15px;
    top: 30px; }

.weiter {
  overflow: hidden;
  height: 50px;
  width: 50px;
  float: right;
  position: relative;
  top: 312.5px; }
  .weiter .more {
    position: relative;
    top: -160px;
    float: right;
    padding-right: 8px;
    font-family: Arial;
    color: #e8e8e8;
    font-size: 15px;
    font-weight: bold; }
    .weiter .more a {
      font-family: Arial;
      color: #e8e8e8;
      font-size: 15px;
      text-decoration: none;
      font-weight: bold; }
  .weiter .symbol {
    float: left;
    position: relative;
    left: -5px; }
    .weiter .symbol img {
      width: 30px; }

#PostContent {
  float: left;
  height: 362.5px;
  width: 251.6px;
  background-color: #373737;
  font-family: Arial;
  color: #e8e8e8;
  font-size: 13px; }
  #PostContent h2#Titel {
    position: absolute;
    min-width: 200px;
    color: #c1c1c1;
    font-size: 23px;
    margin-top: 24px;
    margin-left: 15px; }
  #PostContent .postcont {
    position: relative;
    min-width: 200px;
    margin-top: 89px;
    padding: 5px;
    padding-left: 15px; }

.debug-headline {
  font-size: 40px;
  font-family: Arial;
  font-weight: Bold;
  text-align: center;
  background-color: lightgray;
  border-radius: 3px;
  margin-bottom: 10px; }
.debug-code {
  background-color: gray;
  border-radius: 3px;
  margin-top: 30px; }
  .debug-code textarea {
    width: 100%;
    height: auto;
    max-height: 500px;
    background-color: transparent;
    border: none;
    font-family: Courier;
    color: white; }

/*# sourceMappingURL=style.css.map */
