/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.07.2015, 11:51:39
    Author     : Jan Ackermann
*/


.mainFlex{  
    width: 1340px;
    height: 500px;
    display: table;
    border-spacing: 20px;
    margin-left: -20px;
    margin-top: -20px;
    &-left{
        display:table-cell;
    }
    
    &-right{
        display:table-cell;
        width: 990px;
    }  
    &--smallMargin{
        margin-top: -11px;
    }
}
