/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.07.2015, 11:25:39
    Author     : Jan Ackermann
*/

.postBox{
    height:500px;
    width: 990px;
    margin-bottom:20px;
    background-color: rgba(59, 59, 59, 0.34);
    color:white;
    position: relative;
    &-img{
        float: left;
        width: 670px;
        height: 500px;
        img{
            width: 670px;
            height: 500px;
        }
        &:after{
            content: '';
            height: 100%;
            width: 10px;
            background-color: $MainBlue;
            position: absolute;
            top: 0;
            left: 670px;
        }
    }
    &-content{
        width: 270px;
        height: 85%;
        padding-left: 30px;
        padding-right: 10px;
        overflow: hidden;
        div{
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        h2{
            color: #C1C1C1;
        }
        p{
            color: #E8E8E8
        }
        &:before{
            content: "";
            position: absolute;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 7.5px 0px 7.5px 10px;
            border-color: transparent transparent transparent #1C97E3;
            left: 680px;
            top: 30px;
        }
    }
}
