/*
    Header      1.0
    Content box 2.0
      ->Post    2.1 
    SideBar     3.0
    Footer      4.0
    
    
    */
/*Header 1.0*/

// Colors

@import '_modules.scss';


@mixin TitelFont($size, $bold){
    font-family: Arial;
    color: #e8e8e8;
    font-size: $size;
    @if $bold    { font-weight:bold; }
}
@mixin Rotate($deg){
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    -webkit-transform: rotate($deg);
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}
$MainBlue: #1c96e3;
$TextBackground: #373737;
header{
    width:1300px;
    margin:0 auto;    
}
body{
    text-align:left;
    font-family: Arial;
    margin: 0px;
}
.clear:after{
    content: "";
    clear: both;
    display: table;
}
.wrapper{
    width:1300px;
    margin:0 auto;
    text-align:left;
}
/*Content box 2.0*/
#maincontent{
    width: 1050px;
    height: auto;
    min-height:100%;
}
.mainpostcontent{
    float:right;    
}
/* Post 2.1 */
#PostBox {
    height:auto;
    min-height:400px;
    padding-bottom:20px;
}
#PostImg{
    float:left;
}
#PostImg img {
    background-color:red;
    height:362.5px;
    float:left;
}
.index{
    margin-top: 25px;
    .mainpostcontent {
        margin-top: -25px;
    }
    #PostBox {
        padding-bottom: 0px;
    }
}
.PostMiddle {
    position: relative;
    background-color:#1c96e3;
    height:362.5px;
    width:15px;
    float:left;
    &:after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 0 7.5px 10px;
        border-color: transparent transparent transparent #1c97e3;
        left: 15px;
        top: 30px;
    }
}
.weiter{
    overflow:hidden;
    height:50px;
    width:50px;
    float:right;
    position:relative;
    top:312.5px;
    .more{
        position:relative;
        top:-160px;
        float:right;
        padding-right:8px;
         @include TitelFont(15px, true);
         a{
         @include TitelFont(15px, false);
         text-decoration:none;
         font-weight:bold;
         }
    }
    .symbol{
        float: left;
        position: relative;
        left: -5px;
        img{
            width: 30px;
        }
    }
}
.hidden{
    
}
#PostContent {
    float:left;
    height:362.5px;
    width:251.6px;
    background-color: #373737;
    @include TitelFont(13px, false);
    h2#Titel{
        position:absolute;
        min-width:200px;
        color: #c1c1c1;
        font-size: 23px;
        margin-top: 24px;
        margin-left: 15px;
    }
    .postcont{
        position:relative;
        min-width:200px;
        margin-top:89px;
        padding:5px;
        padding-left:15px;
    }
}

.debug{
    &-headline{
        font-size: 40px;
        font-family: Arial;
        font-weight: Bold;
        text-align:center;
        background-color: lightgray;
        border-radius: 3px;
        margin-bottom: 10px;
    }
    &-code{
        background-color: gray;        
        border-radius: 3px;
        margin-top: 30px;
        textarea{
            width: 100%;
            height: auto;
            max-height: 500px;
            background-color: transparent;
            border: none;
            font-family: Courier;
            color:white;
        }
    }
}
.wp-caption {
	margin-bottom: 1.6em;
	max-width: 100%;
}
.wp-caption-text {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 0.5em 0;
}
.sticky .posted-on {
	display: none;
}
.gallery-caption {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	display: block;
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 0.5em 0;
}
.bypostauthor > article .fn:after {
	top: 7px;
	left: 6px;
}
.bypostauthor > article .fn:after {
	top: 8px;
}/* reset screen-reader-text */
.pagination .current .screen-reader-text {
	position: static !important;
}

.pagination .page-numbers {
	display: none;
	line-height: 3.2em;
	padding: 0 0.6667em;
}

.pagination .page-numbers.current {
	text-transform: uppercase;
}

.pagination .current {
	display: inline-block;
	font-weight: 700;
}

.pagination .prev,
.pagination .next {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
	background-color: #333;
	color: #fff;
	display: inline-block;
	height: 48px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 48px;
}

.pagination .prev:before,
.pagination .next:before {
	font-size: 32px;
	height: 48px;
	line-height: 48px;
	position: relative;
	width: 48px;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus {
	background-color: #707070;
	background-color: rgba(51, 51, 51, 0.7);
}

.pagination .prev {
	left: 0;
}

.pagination .prev:before {
	content: "\f430";
	left: -1px;
}

.pagination .next {
	right: 0;
}

.pagination .next:before {
	content: "\f429";
	right: -1px;
}

.image-navigation,
.comment-navigation {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-size: 12px;
	font-size: 1.2rem;
	font-family: "Noto Sans", sans-serif;
	font-weight: 700;
	line-height: 1.5;
	text-transform: uppercase;
}

.image-navigation a,
.comment-navigation a {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
}

.image-navigation a:hover,
.image-navigation a:focus,
.comment-navigation a:hover,
.comment-navigation a:focus {
	color: #333;
}

.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty),
.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
	display: inline-block;
}

.image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
	content: "\2215";
	font-weight: 400;
	margin: 0 0.7em;
}

.image-navigation .nav-previous a:before,
.comment-navigation .nav-previous a:before {
	content: "\f430";
	margin-right: 0.2em;
	position: relative;
}

.image-navigation .nav-next a:after,
.comment-navigation .nav-next a:after {
	content: "\f429";
	margin-left: 0.2em;
	position: relative;
}

.comment-navigation {
	border-top: 1px solid #eaeaea;
	border-top: 1px solid rgba(51, 51, 51, 0.1);
	border-bottom: 1px solid #eaeaea;
	border-bottom: 1px solid rgba(51, 51, 51, 0.1);
	padding: 2em 0;
}

.comments-title + .comment-navigation {
	border-bottom: 0;
}

.image-navigation {
	padding: 0 7.6923%;
}

.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty) {
	margin-bottom: 2em;
}




